{% include 'html_header.html' %}
<body>
{% include 'navigation.html' %}
<div class="container p-3 mt-5">

    {% for order in orders %}
    <b>Name:</b>
    {{ order.first_name }}
    {{ order.last_name }}
    <br />
    <b>Address:</b>
    {{ order.address }},
    {{ order.city }}
    <br />
    <b>Payment method:</b>
    {{ order.payment_method }}
    <br />
    <b>Payment information:</b>
    {{ order.payment_data }}
    <br />
    <b>Ordered items:</b>
    {{ order.items }}
    <br />
    <b>Order fulfilled:</b>
    {{ order.fulfilled }}
    <hr />
    {% endfor %}

</div>


   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>